main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  min-width: 100vw;
  margin-top: auto;
}

section {
  /* background-color: aqua; */
  min-width: 75vw;
}

.audioInput {
  width: 100%;
}

.time-slot-controller {
  display: flex;
  justify-content: space-between;
}

.time-slot-controller__title {
  margin: 0px;
  padding: 0px;
}

.time-slot-controller__button {
  background: #2c3e50;
  border: 0px;
  padding: 10px;
  margin: 5px;
  color: white;
  transition: all 0.7s;
}

.time-slot-controller__button:hover {
  background-color: #3498db;
  box-shadow: 1px 1px 7px rgba(128, 128, 128, 0.678);
  cursor: pointer;
  transition: all 0.5s;
}

.timeslots__wrapper {
  display: flex;
  justify-content: space-between;
}

/* .time-slot-controller__timeSlotInputs {
  display: block;
} */

@media (max-width: 912px) {
  main {
    flex-direction: column;
    justify-content: flex-start;
  }
  aside {
    min-width: 100vw;
  }

  section {
    min-width: 75vw;
  }
}
